// bower:scss
// endbower

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
    padding: 0;
    margin: 0;
    text-align: center;
}

// Top Banner Container Begins

.outer-top-banner-container {
    height: 41px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 20px;
}

.inner-banner-container{
    display: inline-block;
    width: 980px;
    height: 41px;
}

// Left Banner Portion Begins

.left-banner-container {
    width: 60%;
}

.home-box {
    float: left;
    height: 41px;
    width: 40px;
}

.home {
    height: 25px;
    width: 25px;
    margin-top: 5px;
}

.notifications-box {
    float: left;
    height: 41px;
    width: 40px;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    text-align: center;
    margin: 0 auto;
}

.notifications {
    height: 10px;
    width: 10px;
    margin: 14px;
    border-radius: 100%;
    background-color: #3269A0;
    box-shadow: 0px 0px 8px #3269A0;
}

.notifications:hover {
    box-shadow: 0px 0px 20px #3269A0;
    
}

    
.top-search-bar-box {
    float: left;
    height: 41px;
    width: 230px;
    margin: 0 auto;
    padding: 0px; 
}

.top-search-bar {
    height: 25px;
    width: 25px;
    margin: 7px 0px 7px 10px;
    padding: 0px; 
}

.mywidth{
    width: 214px;
    height: 20px;
}


.left-banner-menu {
    float: left;
    height: 41px;
    width: auto;
}

.left-banner-menu ul {
    margin: 0;
    padding-left: 0px;
    padding-right: 10px;
    line-height: 41px;
}

.left-banner-menu li {
    display: inline;
    list-style-type: none;
}

.left-banner-menu a {
    margin-left: 10px;
    text-decoration: none;
    color: #222222;
}

// Left Banner Ends & Right Banner Portion Begins

.right-banner-container {
    width: 37%;
    float: right;
}

.right-banner-menu {
    float: right;
    height: 41px;
    width: 65%;
}

.right-banner-menu ul {
    padding-left: 10px;
    padding-right: 10px;
    line-height: 41px;
    margin: 0;
}

.right-banner-menu li {
    display: inline;
    list-style-type: none;
}

.right-banner-menu a {
    margin-left: 10px;
    text-decoration: none;
    color: #222222;
}

.banner-profile-picture-box {
    float: left;
    height: 41px;
    width: 40px;

}

.banner-profile-picture {
    height: 25px;
    width: 25px;
    margin: 8px;
    float: right;
}

.banner-profile-picture img {
    width: 25px;
    border-radius: 3px;
}

// Top Banner Ends & Main Body Begins

.main-body-container {
    width: 980px;
    height: 700px;
    margin: 0 auto;
}



// Left Container Begins

.left-container {
    float: left;
    height: 400px;
    width: 23%;
    padding: 0;
    margin: 0;
}

.main-profile-picture-box {
    width: 100%;
    height: 230px;
    margin-top: 19px;
    margin-bottom: 8px;
}

.main-profile-picture img {
    height: 100%;
    width: 230px;
    border-radius: 8px;
}

.profile-name-box {
    height: 41px;
    width: 100%;
}

.profile-name {
    float: left;
    font-size: 28px;
}

.profile-username-box {
    height: 36px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.profile-username {
    float: left;
    font-size: 22px;
}

.profile-info-list-box {
    height: 147px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
}

.profile-info-list ul {
    float: left;
    list-style-type: none;
    padding: 0;
}

.profile-info-list img {
    float: left;
    height: 13px;
    width: 13px;
    margin-left: 1px;
    margin-right: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.profile-info-list li {
    text-align: left;
}

.profile-info-list a {
    color: #4183c4;
    text-decoration: none;
}

.profile-info-list span {
    font-size: 14px;
}

.social-box {
    height: 75px;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    margin: 0 auto;
}

.followers-box, .starred-box, .following-box {
    display: inline-block;
    width: 32%;
    text-align: center;
}

.social-box p {
    font-size: 27px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #333333;
}

.social-box a {
    text-decoration: none;
    font-size: 13px;
    color: #333333;
}

// Right Container Begins

.right-container {
    float: right;
    height: 400px;
    width: 75%;
    padding: 0;
    margin: 0;
}

// 1st Main Body Menu Begins

.top-menu-container {
    height: 35px;
    width: 100%;
    padding: 0;
    margin: 0;
}

.contributions-box {
    height: 35px;
    width: 150px;
    line-height: 35px;
    float: left;
}

.contributions {
    margin-top: 3px;
}

.contributions a {
    text-decoration: none;
    color: #333333;
}

.repositories-box {
    height: 35px;
    width: 150px;
    line-height: 35px;
    float: left;
}

.repositories {
    margin-top: 3px;
}

.repositories a {
    text-decoration: none;
    color: #333333;
}

.public-activity-box {
    height: 35px;
    width: 150px;
    line-height: 35px;
    float: left;
}

.public-activity {
    margin-top: 3px;
}

.public-activity a {
    text-decoration: none;
    color: #333333;
}

.edit-profile-box {
    height: 26px;
    width: 110px;
    float: right;
    border-radius: 5px;
    margin-top: 4px;
    border: 1px solid #e5e5e5;
}

.edit-profile-button {
    margin-top: 4px;
}

.edit-profile-button img {
    margin-right: 3px; 
}

// 1st Main Body Menu Ends
// 2nd Main Body Menu Begins 

.main-menu-container {
    height: 60px;
    width: 100%;
    padding: 0;
    margin: 0;
    display: inline-block;
    border-bottom: 1px solid #e5e5e5;
}

.lower-search-bar-box {
    height: 60px;
    width: 260px;
    float: left;
}

.lower-search-bar {
    height: 34px;
    width: 260px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    line-height: 33px;
    text-align: left;
    margin-top: 14px;
}

.lower-search-bar p {
    padding: 0;
    margin: 0;
}

.lower-search-bar span {
    margin-left: 10px;
}

.search-bar-button-box {
    height: 60px;
    width: 70px;
    float: left;
    margin-left: 5px;
}

.search-bar-button {
    height: 34px;
    width: 70px;
    border: 1px solid #e5e5e5;
    border-radius: 5px;
    line-height: 33px;
    text-align: center;
    margin-top: 14px;
}

.search-bar-button p {
    padding: 0;
    margin: 0;
}

// Left Main Menu Container Ends
// Right Main Menu Container Begins

.right-main-menu-container {
    float: right;
    height: 60px;
}

.new-button-box {
    height: 60px;
    width: 70px;
    float: left;
    float: right;
}

.new-button {
    height: 32px;
    width: 68px;
    border-radius: 5px;
    line-height: 33px;
    text-align: center;
    margin-top: 14px;
    background-color: #60B044;
    color: #ffffff;
    border: 1px solid #5CA941;
}

.new-button p {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.right-main-menu-box {
    float: right;
    height: 34px;
    width: 300px;
    margin-top: 14px;
}

.right-main-menu-box ul {
    margin: 0;
    padding: 0;
    line-height: 34px;
    text-align: right;
}

.right-main-menu-box li {
    display: inline;
    list-style-type: none;
    padding-right: 5px;
}

.right-main-menu-box a {
    text-decoration: none;
    font-size: 14px;
    color: #4183C4;
}

// Right Main Menu Container Begins

.main-body-container-a {
    height: 32px;
    width: 100%;
    padding: 0;
    margin-top: 21px;
    display: inline-block;
}

.book-icon-box {
    float: left;
    height: 32px;
    width: 28px;
    padding: 0;
    margin: 0;
    line-height: 32px;
    margin-right: 11px;
}

.book-icon {
    height: 32px;
    width: 28px;
}

.repo-name-box {
    float: left;
    height: 32px;
    width: auto;
    padding: 0;
    margin: 0;
    line-height: 32px;
}


.repo-name {
    height: 32px;
    width: auto;
}

.repo-name a {
    text-decoration: none;
    color: #4183c4;
    font-size: 20px;
    letter-spacing: 0.8px;
}

.branch-box {
    float: right;
    height: 32px;
    line-height: 32px;
    width: 40px;
}

.branch-data {
    float: right;
    height: 32px;
    width: 20px;
    color: #555555;
}

.branch-data:hover {
    color: #4183c4;
}

.branch-image {
    height: 32px;
    width: 20px;
    float: right;
}

.star-box {
    float: right;
    height: 32px;
    line-height: 32px;
    width: 40px;
}

.star-data {
    float: right;
    height: 32px;
    width: 20px;
    color: #555555;
}

.star-data:hover {
    color: #4183c4;
}

.star-image {
    height: 32px;
    width: 20px;
    float: right;
}

.code-type-box {
    float: right;
    height: 32px;
    line-height: 32px;
    width: auto;
}

.code-type {
    height: 32px;
    width: auto;
}

.code-type span {
    color: #666667;
}

.repo-description-box {
    text-align: left;
    margin-left: 27px;
    height: 25px;
    width: auto;
    line-height: 25px;
    font-size: 12px;
}

.latest-update-box {
    height: 35px;
    width: auto;
    text-align: left;
    margin-left: 27px;
    font-size: 11px;
    border-bottom: 1px solid #e5e5e5;
}


















